---
---

@import "abstracts";
@import "speakers";
@import "schedule";
@import "navbar";

body{
    margin: 0;
    font-family: 'EB Garamond';
    background-color: #eee;
}

.container{
    box-sizing: border-box;
    padding: 0 24px;
    max-width: 600px;
    margin: 128px auto;
    font-size: 48px;
    line-height: 1.3;

    p{
        margin: 32px 0;
    }

    p:first-of-type{
        strong{
            font-weight: 800;
        }
    }

    a{
        color: rgba(0,0,0,0.5);
        text-decoration: none;
        padding-bottom: 4px;
        border-bottom: 2px solid rgba(0,0,0,0.3);
    }

}

.section{
    box-sizing: border-box;
    padding: 0 24px;

    p{
        font-size: 24px;
        line-height: 1.6;
    }

    a{
        color: rgba(0,0,0,0.5);
        text-decoration: none;
        padding-bottom: 4px;
        border-bottom: 2px solid rgba(0,0,0,0.3);
    }
}

.rsvp{
    background-color: #008ab3;
    padding: 16px;
    display: inline-block;
    
    a{
        font-family: 'Roboto Mono';
        color: #fff;
        border: none;
    }

    &:hover{
        background-color: #00b4eb;
    }
}

@media (min-width: 800px){
    .container{
        padding-left: 64px;
        border-left: 1px solid rgba(0,0,0,0.2);
    }
}

@media (max-width: 800px){
    .section{
        width: 100%;
    }
    
    .container{
        font-size: 32px;
    }

    .descript{
        font-size: 16px;
    }
}