<!DOCTYPE html>
<html>

<head>
    <meta
        content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, target-densityDpi=device-dpi'
        name='viewport' />
    <title>
        {% if page.layout != "home" %}
        {{ page.title }} | 
        {% endif %}
        {{ site.title }}
    </title>
    <link
        rel="stylesheet">
    <link rel='stylesheet' type='text/css' href='{{ site.baseurl }}/css/style.css'>
</head>

<body>
{{ content }}
</body>

</html>