---
layout: default
---

<div class='container'>
    {{ content }}
</div>

<div class='speakers'>
    <h1 class='speakers-title'>Speakers</h1>
    <div class='speaker'>
        <img src='{{ site.baseurl }}/img/headshots/krex.jpg'>
        <div class='name'><span>Kristina Rex</span></div>
        <div class='descript'><span>Reporter for WBZ CBS Boston</span></div>
    </div>
    <div class='speaker'>
        <img src='{{ site.baseurl }}/img/headshots/jswansburg.jpg'>
        <div class='name'><span>John Swansburg</span></div>
        <div class='descript'><span>Senior Editor, The Atlantic</span></div>
    </div>
    <div class='speaker'>
        <img src='{{ site.baseurl }}/img/headshots/zqamar.jpg'>
        <div class='name'><span>Zoha Qamar</span></div>
        <div class='descript'><span>Former HuffPost and CNN online international news writer</span></div>
    </div>
</div>