---
layout: default
---

<div class='container'>
    {{ content }}
</div>

<div class='section speakers'>
    <h1 class='section-title'>Speakers</h1>
    {% for item in site.data.speakers %}
    <div class='speaker'>
        <img src='{{ site.baseurl }}/img/headshots/{{ item.tag }}.jpg'>
        <div class='name'><span>{{ item.name }}</span></div>
        <div class='descript'><span>{{ item.descript }}</span></div>
    </div>
    {% endfor %}
</div>

<div class='section'>
    <h1 class='section-title'>Workshops</h1>
</div>

<div class='section'>
    <h1 class='section-title'>Register</h1>
</div>

<div class='section schedule'>
    <h1 class='section-title'>Schedule (Tentative)</h1>
    <table>
        <tr>
            <td>10:10 - 10:20 a.m.</td>
            <td><b>Opening Remarks</b></td>
        </tr>
        <tr>
            <td>10:20 - 11:00 a.m.</td>
            <td><b>Keynote Speaker</b><br>Ms. Vanessa Friedman</td>
        </tr>
        <tr>
            <td>11:10 - 12:05 p.m.</td>
            <td><b>Workshops</b><br>Led by members of The Phillipian</td>
        </tr>
        <tr>
            <td>12:10 - 12:45 p.m.</td>
            <td><b>Lunch</b></td>
        </tr>
        <tr>
            <td>12:50 - 1:40 p.m.</td>
            <td><b>Panel</b><br>Ms. Victoria Abbott-Riccardi<br>Ms. Kristina Rex<br>Ms. Zoha Qamar</td>
        </tr>
        <tr>
            <td>1:45 - 2:25 p.m.</td>
            <td><b>Closing Speaker</b><br>Mr. John Swansburg</td>
        </tr>
        <tr>
            <td>2:30 - 2:40 p.m.</td>
            <td><b>Closing</b></td>
        </tr>
    </table>
</div>