---
layout: default
---

<div class='container'>
    {{ content }}
</div>

<div class='section speakers'>
    <h1 class='section-title'>Speakers</h1>
    {% for item in site.data.speakers %}
    <div class='speaker'>
        <img src='{{ site.baseurl }}/img/headshots/{{ item.tag }}.jpg'>
        <div class='name'><span>{{ item.name }}</span></div>
        <div class='descript'><span>{{ item.descript }}</span></div>
    </div>
    {% endfor %}
</div>

<div class='section'>
    <h1 class='section-title'>Workshops</h1>
</div>

<div class='section'>
    <h1 class='section-title'>Register</h1>
</div>